*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-size: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-containeer{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 35px;
}

.main-content{
    
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

/* Profile section*/

.Profile{
    text-align: center;
}

.Profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.Profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.Profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

.resume{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #f5b301;
    color: #000;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
}

.resume:hover{
    background-color: #ffc933;
}

/* Contact information*/

.contact{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.contact h3{
    font-size: 15px;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}

/* social media*/

.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.social img:hover{
    filter: grayscale(0) invert(0);
}

/* main content*/

/* Navigation*/

#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

}
nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
    
}
nav a:hover{
    color: #FFBF00;
}
.active{
    color: #FFBF00;
}

/*about me*/

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 0px;
}

.aboutline{
    width: 135px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

#about-me{
    margin-bottom: 40px;
}

/*skills*/


.skillsline{
    width: 75px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr)) ;
    gap: 40px;
    margin-bottom: 40px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease  ;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(110%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
}
/*tools*/

.toolline{
    width: 70px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
}

/* Education */

.educationline{
    width: 140px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
}
.edtech{
    position: relative;

}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 0px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.edfirst, .edsecond{
    margin-bottom: 25px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 2px;
    height: 180px;
    top: 0px;
    bottom: 0px;
    left: 6px;
    border: 2px solid #3a3a3a;
}

/*EXPERIENCE*/

.experienceline{
    width: 150px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
}
.name{
    font-size: 1.2rem;
    font-weight: 500;
    color: #e0e0e0;
}
.exptech{
    position: relative;
    padding-left: 25px;
}

.company, .date{
    color: #a0a0a0;
}

.detail{
    font-style: italic;
    color: #a0a0a0;
}
.expfirst, .expsecond{
    position: relative;
    padding-left: 20px;
    margin-bottom: 30px;
}
.expfirst .goal, .expsecond .goal{
    height: 14px;
    width: 14px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: -25px;
    background: #2a2a2a;
    z-index: 2;
}

.line{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 6px;
    border: 2px solid #3a3a3a;
    
}

/* certifications*/

.certificationline{
    width: 175px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
}

.certification-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr)) ;
    gap: 40px;
    margin-bottom: 40px;
}

.course{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    margin-top: 20px;
    transition: transform 0.3s ease  ;
}

.Downloadcertification{
   color: #a0a0a0;
   text-decoration: none;
   font-size: 14px;
}

.Downloadcertification:hover{
    color: #FFBF00;
}

.course h3{
    font-size: 1rem;
    text-align: center;
    color: #e0e0e0;
    font-weight: 500;
}

.course:hover{
    transform: scale(1.1);
}
/*portfolio*/

.portfolioline{
    width: 120px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
}

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.project:hover{
    transform: translateY(-5px);
}
.project img{
    height: 180px;
    width: 350px;
    object-fit: cover;
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}
.card a{
    text-decoration: none;
    color: aqua;
    
}

.card span{
    background-color: rgba(255, 191,0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-left: 5px
}

/* Footer*/
.copyright{
    text-align: center;
    color: #e0e0e0;
    margin-top: 50px;
    margin-bottom: 10px;
    border-top: 2px solid black;
    padding-top: 15px;
}




/* ======================
   MOBILE (sidebar UPAR)
   ====================== */
@media (max-width: 768px) {

  .main-containeer {
    display: flex;  
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    padding: 25px;
  }

  .main-content {
    width: 100%;
    padding: 20px;
  }

  nav {
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  #navigation {
    padding-left: 0;
    padding-right: 0;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  .project img {
    width: 100%;
    height: auto;
  }
}


/* ======================
   SMALL MOBILE
   ====================== */
@media (max-width: 480px) {

  body {
    font-size: 14px;
  }

  .Profile img {
    height: 100px;
    width: 100px;
  }

  .heading {
    font-size: 1.5rem;
  }

  .resume {
    width: 100%;
    text-align: center;
  }

  .card {
    padding: 15px;
  }

  .social img {
    margin: 5px;
  }
}

/* ======================
   TABLET (sidebar LEFT)
   ====================== */
@media (max-width: 1024px) and (min-width: 768px) {

  .main-containeer {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 25px;
    align-items: start;
    padding: 20px;
  }

  .sidebar {
    position: sticky;
    top: 20px;
    align-self: start;
  }

}
